
#wrap{width:100%;height:100%;position:relative;background: #f1f1f1;font:0.14rem "Helvetica Neue",Helvetica,STHeiTi,'\5FAE\8F6F\96C5\9ED1',sans-serif;}
#main{width:100%;height:93%;position:absolute;padding-top:0.45rem;}

/*headt头广告*/
#head{padding:0 0.15rem;display:flex;justify-content:space-between;height:0.45rem;width:100%;background:url(../img/hd.jpg)no-repeat center;position:fixed;top:0;
border-bottom: 1px solid #666666;}
#head>div{height:0.3rem;margin:0.08rem 0 0.07rem 0;}
#head>div.download{width:0.87rem;}
#head>div.download>a{width:100%;height:100%;display: block;background:url(../img/down.png)no-repeat center;background-size:auto 100%;}
#head>div.logo_top{display:flex;}
#head>div.logo_top>a{width:0.3rem;margin-right:0.1rem;background:url(../img/logo.png)no-repeat left 0;background-size:auto 100%;}
#head>div.logo_top>div.logo_title>p:first-child{color:#fff;line-height:0.15rem;font-size:0.12rem;}
#head>div.logo_top>div.logo_title>p:last-child{color:#7e859e;line-height:0.15rem;font-size:0.12rem;}

/*tab切换*/
#tab{width:100%;height:7%;position:fixed;bottom:0;background:url(../img/tabold.png)no-repeat center;background-size:100% 100%;z-index:99;}
#tab>ul{width: 100%;height: 100%;display:flex;}
#tab>ul>li{width: 25%;height: 100%;}
#tab a{height:100%;display:block;width:100%;}