<div id="huodong">
	<div class="hdTop">
		<ul>
			<li>全部</li>
			<li>进行中</li>
			<li>已结束</li>
		</ul>
	</div>
	<div class="huodongDetails">
		<ul>
			<li>
				<div>
					<div class="hdLeftImg"></div>
					<p>滴，福利卡来了！</p>
					<span>2017-02-10</span>
				</div>
			</li>
			<li>
				<div>
					<div class="hdLeftImg"></div>
					<p>滴，福利卡来了！</p>
					<span>2017-02-10</span>
				</div>
			</li>
			<li>
				<div>
					<div class="hdLeftImg"></div>
					<p>滴，福利卡来了！</p>
					<span>2017-02-10</span>
				</div>
			</li>
			<li>
				<div>
					<div class="hdLeftImg"></div>
					<p>滴，福利卡来了！</p>
					<span>2017-02-10</span>
				</div>
			</li>
			<li>
				<div>
					<div class="hdLeftImg"></div>
					<p>滴，福利卡来了！</p>
					<span>2017-02-10</span>
				</div>
			</li>
		</ul>
	</div>
</div>