<div id="huodong" ui-view>
	<div class="hdTop">
		<ul>
			<li>
				<a href="" ui-sref='hdAll'>全部</a>
			</li>
			<li>
				<a href="" ui-sref='hdGo'>英雄</a>
			</li>
			<li>
				<a href="" ui-sref='hdEnd'>关注微信</a>
			</li>
		</ul>
	</div>
	<div id="huodongDetails">
		<ul>
			<li>
				<div class="hdLeftImg">
					<img src="components/huodong/hdImg/hd1.jpg" />
				</div>
				<div class="hdLeftWord">
					<p>滴，福利卡来了！</p>
					<span>2017-02-10</span>
				</div>

			</li>
			<li>
				<div class="hdLeftImg">
					<img src="components/huodong/hdImg/hd2.jpg" />
				</div>
				<div class="hdLeftWord">
					<p>滴，福利卡来了！</p>
					<span>2017-02-10</span>
				</div>
			</li>
			<li>
				<div class="hdLeftImg">
					<img src="components/huodong/hdImg/hd3.jpg" />
				</div>
				<div class="hdLeftWord">
					<p>滴，福利卡来了！</p>
					<span>2017-02-10</span>
				</div>
			</li>
			<li>
				<div class="hdLeftImg">
					<img src="components/huodong/hdImg/hd4.jpg" />
				</div>
				<div class="hdLeftWord">
					<p>滴，福利卡来了！</p>
					<span>2017-02-10</span>
				</div>
			</li>
			<li>
				<div class="hdLeftImg">
					<img src="components/huodong/hdImg/hd5.jpg" />
				</div>
				<div class="hdLeftWord">
					<p>滴，福利卡来了！</p>
					<span>2017-02-10</span>
				</div>
			</li>
			<li>
				<div class="hdLeftImg">
					<img src="components/huodong/hdImg/hd6.jpg" />
				</div>
				<div class="hdLeftWord">
					<p>滴，福利卡来了！</p>
					<span>2017-02-10</span>
				</div>
			</li>
			<li>
				<div class="hdLeftImg">
					<img src="components/huodong/hdImg/hd7.jpg" />
				</div>
				<div class="hdLeftWord">
					<p>滴，福利卡来了！</p>
					<span>2017-02-10</span>
				</div>
			</li>
			<li>
				<div class="hdLeftImg">
					<img src="components/huodong/hdImg/hd8.jpg" />
				</div>
				<div class="hdLeftWord">
					<p>滴，福利卡来了！</p>
					<span>2017-02-10</span>
				</div>
			</li>
			<li>
				<div class="hdLeftImg">
					<img src="components/huodong/hdImg/hd9.jpg" />
				</div>
				<div class="hdLeftWord">
					<p>滴，福利卡来了！</p>
					<span>2017-02-10</span>
				</div>
			</li>
			<li>
				<div class="hdLeftImg">
					<img src="components/huodong/hdImg/hd10.jpg" />
				</div>
				<div class="hdLeftWord">
					<p>滴，福利卡来了！</p>
					<span>2017-02-10</span>
				</div>
			</li>
		</ul>
	</div>
</div>