#huodong{
	width: 100%;
	height: 100%;
	background-color: #F1F1F1;
	overflow: auto;
}
#huodong{
	width: 100%;
	height: 100%;
}
#huodong>.hdTop{
	width: 100%;
	height: 0.31rem;
}
#huodong>.hdTop>ul{
	width: 100%;
	height: 100%;
}
#huodong>.hdTop li{
	float: left;
	list-style: none;
	width: 33.33%;
	height: 0.31rem;
	text-align: center;
	line-height: 0.31rem;
	color: #000;
	border: 1px solid #E0E0E0;
	border-top: none;
}
#huodong>.hdTop .active{
	background-color: #0C75A6;
}

#huodongDetails{
	width: 100%;
}

#huodongDetails li{
	width: 100%;
	height: 1.12rem;
	border-bottom: 1px solid #E0E0E0;
	padding: 0 0.08rem;
}
#huodongDetails li>.hdLeftImg{
	float: left;
	width: 40%;
	height: 0.87rem;
	margin-top: 0.125rem;
}
#huodongDetails li>.hdLeftImg>img{
	width: 100%;
	height: 100%;
	border: 1px solid #E0E0E0;
}
#huodongDetails li>.hdLeftWord{
	width: 60%;
	height: 0.87rem;
	margin-top: 0.125rem;
	float: left;
	padding: 0.05rem 0 0 0.1rem;
	position: relative;
}
#huodongDetails li>.hdLeftWord>span{
	position: absolute;
	right: 0;
	bottom: 0;
}
#huodongDetails li>.hdLeftWord>p{
	line-height: 0.17rem;
}