<div id="strategy">
	<div class="inputDiv">
		<input type="text" placeholder="请输入你想要搜索的英雄名" />
	</div>
	<!--轮播图-->
	<div class="strBann">
		
	</div>
	<!--分页面-->
	<div class="pages">
		<a ui-sref='.mostNew' href="">最新<span></span></a>
		<a ui-sref='.newHand' href="">新手<span></span></a>
		<a ui-sref='.heros' href="">英雄<span></span></a>
		<a ui-sref='.official' href="">官方<span></span></a>
		<a ui-sref='.collegaues' href="">同人<span></span></a>
	</div>
	<div class="pageContent" ui-view>
		
	</div>
</div>