<h3>英雄推荐 <button><a href="javascript:void(0)" ui-sref="heroIntr">进入英雄列表</a></button></h3>
<dl>
	<dt><img src="img/newrec1.jpg" alt="" /></dt>
	<dd class="dd1">
		<b>断案大师</b><i>-</i><span>狄仁杰</span>
		<p>狄仁杰是一个比较全面的射手，能进能退，输出能力爆炸，合理使用他的控制效果是一个狄仁杰使用者最重要的技能。</p>
	</dd>
	<dd class="dd2">
		<button>查看该英雄相关资料</button>
	</dd>
</dl>
<dl>
	<dt><img src="img/newrec2.jpg" alt="" /></dt>
	<dd class="dd1">
		<b>魅惑之狐</b><i>-</i><span>妲己</span>
		<p>妲己是一位美少女法师，拥有游戏中少有的稳定控制技能，AOE、单体输出都有很好的作用效果。</p>
	</dd>
	<dd class="dd2">
		<button>查看该英雄相关资料</button>
	</dd>
</dl>
<dl>
	<dt><img src="img/newrec3.jpg" alt="" /></dt>
	<dd class="dd1">
		<b>机关造物</b><i>-</i><span>鲁班七号</span>
		<p>鲁班七号是王者荣耀中后期输出能力最强的射手之一，良好的走位和输出位置选取是想玩好鲁班的玩家的必修课。</p>
	</dd>
	<dd class="dd2">
		<button>查看该英雄相关资料</button>
	</dd>
</dl>
<dl>
	<dt><img src="img/newrec4.jpg" alt="" /></dt>
	<dd class="dd1">
		<div><b>圣骑之力</b><i>-</i><span>亚瑟</span></div>
		<p>亚瑟是一个标准的战士，能抗能打，对敌方后排可以造成非常高的威胁。</p>
	</dd>
	<dd class="dd2">
		<button>查看该英雄相关资料</button>
	</dd>
</dl>

<h3>新手攻略<button><a href="javascript:void(0)" ui-sref="guides.recent">王者学院攻略站</a></button></h3>
<div class="rnewHand">
	<li>
		<a href="">【英雄锦囊】大唐的传奇神探-狄仁杰攻略</a>
		<p>12/15</p>
	</li>
	<li>
		<a href="">【英雄锦囊】驭敌于股掌之间-张良攻略</a>
		<p>12/15</p>
	</li>
	<li>
		<a href="">六神装了怎么玩？讨论后期鞋子的取舍</a>
		<p>12/15</p>
	</li>
	<li>
		<a href="">【英雄锦囊】鞍刀咆哮，一骑绝尘–关羽攻略</a>
		<p>12/15</p>
	</li>
	<li>
		<a href="">降温啦：细数那些不怕冷的英雄皮肤</a>
		<p>12/15</p>
	</li>
	<li>
		<a href="">千万别学他们！这些英雄注孤生</a>
		<p>12/15</p>
	</li>
	<li>
		<a href="">【新手指南】到底谁打野？打野收益最大化</a>
		<p>12/15</p>
	</li>
	<li>
		<a href="">萌新讲堂之王者意识教学</a>
		<p>12/15</p>
	</li>
	<li>
		<a href="">【盘点】那些令人目瞪口呆的奇葩死法</a>
		<p>12/15</p>
	</li>
	<li>
		<a href="">盘点那些让人强制位移的英雄</a>
		<p>12/15</p>
	</li>
	<li>
		<a href="">KPL升阶干货！小白玩家专属逆天攻略</a>
		<p>12/14</p>
	</li>
	<li>
		<a href="">伐开心，让队友崩溃的失误瞬间</a>
		<p>12/02</p>
	</li>
	<li>
		<a href="">【英雄锦囊】神弓后羿修炼法则</a>
		<p>12/02</p>
	</li>
</div>

<h3>新手教学<button><a href="javascript:void(0)" ui-sref="videos.games">进入视频站</a></button></h3>
<ul id="rNewVideo">
	<li >
		<img src="components/home/video_icon.png" alt="" class="hStart"/>
		<dl >
			<dt><a href="detail.shtml?G_Biz=18&tid=121229&e_code=pvpapp.searchiType.iType619"><img src="//itea-cdn.qq.com/file/tgl/20170423/3.1492886050.jpg" alt="" /></a></dt>
			<dd>火力全开无情杀戮 诸葛亮英雄击杀秀</dd>
			<dd class='imgText'><span>1.7万次</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>03:15</b></dd>
		</dl>
	</li>
	<li >
		<img src="components/home/video_icon.png" alt="" class="hStart"/>
		<dl >
			<dt><a href="detail.shtml?G_Biz=18&tid=121065&e_code=pvpapp.searchiType.iType619"><img src="//itea-cdn.qq.com/file/tgl/20170417/3.1492396673.jpg" alt="" /></a></dt>
			<dd>优雅的大长腿，不知火舞强力碾压</dd>
			<dd class='imgText'><span>1.6万次</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>15:01</b></dd>
		</dl>
	</li>
	<li >
		<img src="components/home/video_icon.png" alt="" class="hStart"/>
		<dl >
			<dt><a href="detail.shtml?G_Biz=18&tid=120693&e_code=pvpapp.searchiType.iType619"><img src="//itea-cdn.qq.com/file/tgl/20170420/1.1492619544.jpg" alt="" /></a></dt>
			<dd>扁鹊救死扶伤好队友，逆风翻盘</dd>
			<dd class='imgText'><span>2.2万次</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>12:14</b></dd>
		</dl>
	</li>
</ul>



