<div id="hdEnd">
	<div class="hdEndTop">
		<span>back</span>
		<a href="">关注王者微信公众号 天天豪礼等你领</a>
		<span>2016-11-18</span>
	</div>
	<div class="hdEndMid">
		<p class="hdEndp1">关注王者微信公众号 天天豪礼等你领</p>
		<img class="hdEndImg1" src="components/huodong/hdImg/hdEnd1.jpg" alt="" />
		<p class="hdEndp2">开始时间：长期</p>
		<p class="hdEndp3">不用担心钻石金币不够用啦，来微信公众号签到，金币、钻石天天拿。只要关注王者荣耀公众号并绑定游戏账号就能参加签到有礼活动咯~</p>
		<img class="hdEndImg2" src="components/huodong/hdImg/hdEnd2.jpg" alt="" />
		<p class="hdEndp4">每天签到可获88金币，连续签到5天可获60钻石；</p>
		<p class="hdEndp5">连续签到20天可获120钻石+双倍经验卡*3天+三级符文宝箱*1</p>
		<p class="hdEndp6">连续签到30天可获150钻石+双倍金币卡*7天+三级符文宝箱*2</p>
		<p class="hdEndp7">连续签到天数越多，得到的奖励就越多哦~</p>
		<p class="hdEndp8">如果你缺少符文碎片，缺少钻石，那就快来用微信扫描下方二维码吧，豪礼享不停！</p>
		<img class="hdEndImg3" src="components/huodong/hdImg/hdEnd3.jpg" alt="" />
	</div>
	<div class="hdEndBot">
		<span></span>
		<p>相关资讯</p>
	</div>
</div>