#herostory{width: 100%;height: 100%;}
#herostoryTab{width: 100%; height: 5.49rem; color: burlywood;overflow: auto;padding: 0 0.2rem;}
#herostoryTab h4{margin:10% 0 5% 40%;}
#herostoryTab p{text-indent:0.34rem;}












