<h3>游戏介绍</h3>
<div class="forNew-intr">
	<img src="img/ec_icon_03.png"/>
	<h3>什么事王者荣耀？</h3>
	<p>
     《王者荣耀》是腾讯第一5V5英雄公平对战手游，于10月28日开启不限号测试！5V5王者峡谷（含迷雾模式）、5V5深渊大乱斗、以及3V3、1V1等多样模式一键体验，热血竞技尽享快感！海量英雄随心选择，精妙配合默契作战！10秒实时跨区匹配，与好友组队登顶最强王者！操作简单易上手，一血、五杀、超神，极致还原经典体验！实力操作公平对战，回归MOBA初心！
    </p>
</div>
<h3>游戏特色</h3>
<div class="forNew-intr1">
	<div class="forNew-intr2">
		<ul>
		<li><a href="javascript:void(0)" ng-click=a('inner1')><span>特色一</span></a></li>
		<li><a href="javascript:void(0)" ng-click=a('inner2')><span>特色二</span></a></li>
		<li><a href="javascript:void(0)" ng-click=a('inner3')><span>特色三</span></a></li>
		<li><a href="javascript:void(0)" ng-click=a('inner4')><span>特色四</span></a></li>
		<li><a href="javascript:void(0)" ng-click=a('inner5')><span>特色五</span></a></li>
	</ul>
	<p></p>
	</div>
	<div class="outer">
		<div id="inner1">
			<h3>迷雾模式，MOBA经典视野玩法</h3>
			<p>
		     迷雾模式中，大部分区域被迷雾笼罩，视野受到限制。我们需要通过插眼和反眼的默契配合，掌控游戏中的视野。MOBA经典视野玩法，更加考验每一位召唤师的意识和操作，不断挑战自我！
		    </p>
		    <img src="img/457021444912915.jpg"/>
	</div>
		<div id="inner2">
			<h3>恋人系统，王者之路不再孤单！</h3>
			<p>
			打造新型生态社交圈，我们在游戏内对于亲密关系需求是不同的。新增恋人基友系统，拥有好友关系时，在loading界面会有专属特效和显示，局内更有专属画面呈现！您的王者之路从来不曾孤单！
		    </p>
		    <img src="img/13316691196357.jpg"/>
		</div>
		<div id="inner3">
			<h3>师徒系统，师傅带你开车上王者！</h3>
			<p>
			打造新型生态社交圈，新增师徒系统！旨在给新老玩家建立亲密关系，新玩家可以通过拜师并和师父一起游戏学习到游戏技巧和丰厚奖励，更好的度过新手期，而老玩家也可以通过带徒弟获得荣誉奖励和尊重。	    </p>
		    <img src="img/177391271645630.jpg"/>
		</div>
		<div id="inner4">
			<h3>年度最佳电竞手游</h3>
			<p>
			荣获中国游戏风云榜《2015年度最佳电竞手游》！随着游戏内各项赛事的不断铺开，已发布以“嗨电竞”为主题的电竞发展计划，将构筑以玩家为主体，囊括多种形式与层次的赛事，注重以比赛激发用户热情，并邀请媒体共建的电竞体系，打造开放式、大众式的电竞氛围。一起！让移动电竞流行起来！
			</p>
			<img src="img/249741097657203.jpg"/>
		</div>
		<div id="inner5">
			<h3>5V5越塔强杀！开团</h3>
			<p>
			我们拥有5V5经典地图，使用三路推塔核心玩法，呈现出最原滋原味的MOBA游戏对战体验！在王者荣耀里，我们根据英雄玩法使用不同的策略，根据英雄特色组建完美阵容，默契配合成就最强王者！
			</p>
			<img src="img/525021145309762.jpg"/>
		</div>
	</div>
	
</div>