<div id="mostNew" ui-view>
	<ul>
		<li ng-repeat="item in arrMostNew" ui-sref='.mnPage'>
			<a href="javascript:void(0)"><img src="{{item.sIMG}}" /></a>
			<div>
				<span class="topSpan">
					<span>{{item.sTitle}}</span>
					<span>{{item.iSubType}}<span></span></span>
				</span>
				<span class="botSpan">
					<span>{{item.sDesc}}</span>
					<span>4-21</span>
				</span>
			</div>
		</li>
	</ul>
	
	<ul>
		<li ng-repeat="item in arrMostNew2" ui-sref='.mnPage'>
			<a href="javascript:void(0)"><img src="{{item.sIMG}}" /></a>
			<div>
				<span class="topSpan">
					<span>{{item.sTitle}}</span>
					<span>{{item.iSubType}}<span></span></span>
				</span>
				<span class="botSpan">
					<span>{{item.sDesc}}</span>
					<span>4-21</span>
				</span>
			</div>
		</li>
	</ul>
	
	<ul>
		<li ng-repeat="item in arrMostNew3" ui-sref='.mnPage'>
			<a href="javascript:void(0)"><img src="{{item.sIMG}}" /></a>
			<div>
				<span class="topSpan">
					<span>{{item.sTitle}}</span>
					<span>{{item.iSubType}}<span></span></span>
				</span>
				<span class="botSpan">
					<span>{{item.sDesc}}</span>
					<span>4-21</span>
				</span>
			</div>
		</li>
	</ul>
	
	<ul>
		<li ng-repeat="item in arrMostNew4" ui-sref='.mnPage'>
			<a href="javascript:void(0)"><img src="{{item.sIMG}}" /></a>
			<div>
				<span class="topSpan">
					<span>{{item.sTitle}}</span>
					<span>{{item.iSubType}}<span></span></span>
				</span>
				<span class="botSpan">
					<span>{{item.sDesc}}</span>
					<span>4-21</span>
				</span>
			</div>
		</li>
	</ul>
	
	<ul>
		<li ng-repeat="item in arrMostNew5" ui-sref='.mnPage'>
			<a href="javascript:void(0)"><img src="{{item.sIMG}}" /></a>
			<div>
				<span class="topSpan">
					<span>{{item.sTitle}}</span>
					<span>{{item.iSubType}}<span></span></span>
				</span>
				<span class="botSpan">
					<span>{{item.sDesc}}</span>
					<span>4-21</span>
				</span>
			</div>
		</li>
	</ul>
	
	<div class="clickMore">
		<p><a href="javascript:void(0)" href="">点击查看更多</a></p>
	</div>
</div>


<div class="mnPageBox">
	
</div>