<<<<<<< HEAD
#video{width: 100%;height: 100%;background-color: red;font-size: 0.12rem;}
.p2{width: 100%;height: 3.3rem;background-color: blue;}
.p2 img{width: 100%;height: 100%;}

.p2 div{position: absolute;margin-top: -2.10rem;padding-left: 15px; height: 0.96rem; width: 100%; line-height: 0.84rem;color: #fff;font-size: 0.36rem;
}









=======
#video{width: 100%;height: 100%;font-size: 0.12rem;z-index: 0;background-color: #fff;margin-bottom:138px ;}
#lunbo{width: 100%;height: 1.87rem;}
#lunbo img{width: 100%;height: 100%;}
#lunbo .text{position: absolute;margin-top: -2.10rem;padding-left: 15px; height: 0.96rem; width: 100%; line-height: 0.84rem;color: #fff;font-size: 0.36rem;
}
.videoMenu{ width: 100%;height: 0.4222rem ;background-color: #F1F3F5;font-size: 0.16rem;}
.videoMenu li{width:20%;height: 100%;float: left;text-align: center;line-height:0.4222rem ;}
.videoMenu li:hover{background-color:#DABB82 ;}

#videoMain {width: 100%;margin-top:0.125rem;padding: 0 0.18rem;}
#videoMain .p1{width: 50%;height:1.57.84rem;margin: 0 0 0.125rem 0; float: left;font-size: 0.14rem;}
#videoMain .p1 img{width: 1.9039rem;height:1.0766rem;border-radius: 6px;vertical-align: top;}
#videoMain .p1 div{width: 100%;}
#videoMain .p1 .k1{margin-top:0.09rem;overflow: hidden;text-decoration: 0.07rem; font-size: 0.09rem;height: 0.23rem; line-height: 0.23rem;font-size: 0.16rem;}
#videoMain .p1 .k2{font-size: 0.09rem;height: 0.17rem; line-height: 0.17rem;}
#videoMain .p1 .k2 .sp1{float: left;text-align: center;}
#videoMain .p1 .k2 .sp2{display:inline-block;width: 0.979rem;height: 0.17rem;overflow: auto; float: right;text-align: center;margin-right: 0.1rem;}
#videoMain .p1 .k3{background: url(img/index.png)no-repeat center center;background-position: -54px 0;}
>>>>>>> cd2e9e3c458b219ee6b4be8501dc523118c43fc5
