<div id="video">
	<div class="swiper-container" id="lunbo" >
		<div class="swiper-wrapper">
			<div class="swiper-slide" ng-repeat="item in arr"><a href="{{item.sUrl}}"><img src="{{item.sIMG}}" /></a>
				<div class="text" >{{item.sTitle}}</div>
			</div>
			
		</div>
		<div class="swiper-pagination"></div>
	</div>

	<div class="videoMenu">
		<ul>
			<li><a ui-sref='.saishi' href="">赛事</a></li>
			<li><a ui-sref='.yingxiong' href="">英雄</a></li>
			<li><a ui-sref='.jieshuo' href="">解说</a></li>
			<li><a ui-sref='.yule' href="">娱乐</a></li>
			<li><a ui-sref='.guanfang' href="">官方</a></li>
		</ul>
	</div>
	
	<div id="videoMain" ui-view>
		<div ng-repeat="imgs in arr1" class="p1">
			<img src="components/video/img/01.gif"id="imgt"/>		
			<div class="k3"><a href="{{imgs.sUrl}}"><img src="{{imgs.sIMG}}"/></a></div>
			<div class="k1"><a href="{{imgs.sUrl}}"><p>{{imgs.sTitle}}</p></a></div>
			<div class="k2">
				<span class="sp1"><img src="components/video/img/02.gif"/>{{imgs.iTotalPlay}}</span>
				<span class="sp2">{{imgs.sIdxTime}}</span>
			</div>	
		</div>					
	</div>
	
	<div class="load">点击查看更多</div>
	
	
</div>
