<div id="video">
	<div class="swiper-container" id="lunbo">
		<div class="swiper-wrapper">
			<div class="swiper-slide" ng-repeat="item in arr"><a href="{{item.sUrl}}"><img src="{{item.sIMG}}" /></a></div>
			<!--<div class="text" ng-repeat="item in arr">{{item.sTitle}}</div>-->
		</div>
		<div class="swiper-pagination"></div>
	</div>

	<div class="videoMenu">
		<ul>
			<li><a ui-sref='.saishi' href="">赛事</a></li>
			<li><a ui-sref='.yingxiong' href="">英雄</a></li>
			<li><a ui-sref='.jieshuo' href="">解说</a></li>
			<li><a ui-sref='.yule' href="">娱乐</a></li>
			<li><a ui-sref='.guanfang' href="">官方</a></li>
		</ul>
	</div>
	
	<div id="videoMain" ui-view>
		<div ng-repeat="imgs in arr1" class="p1">			
			<div class="k3"><a href="{{imgs.sUrl}}"><img src="{{imgs.sIMG}} class="imgy"/><span><img src="components/video/img/01.gif"id="imgt"/></span></a></div>
			<div class="k1"><a href="{{imgs.sUrl}}"><p>{{imgs.sTitle}}</p></a></div>
			<div class="k2">
				<span class="sp1"><span></span>{{imgs.iTotalPlay}}</span>
				<span class="sp2">{{imgs.sIdxTime}}</span>
			</div>
		</div>					
	</div>
</div>