#story{height: 12.9513rem;}
#storyOrigin{padding: 0 0.24051rem;}
#storyOrigin p{line-height: 0.06rem; text-indent: -0.18rem; color: #346e8d;height: 0.18rem;font-size: 0.12rem;}
#storyOrigin #storyOriginImg{width: 2.9197rem;height: 2.0161rem;}
#storyOrigin>div{padding-top:0.2259rem;background: url(../img/rdo.png)no-repeat 0 0;
background-size: 0.0777rem;0.4913rem}
#storyOrigin>div>div{border-left: 1px solid #346e8d;margin-left: 0.03rem;padding-left: 0.2rem;}















