<ul class="f-g-ulist">
	<li><a href="http://pvp.qq.com/webplat/info/news_version3/15592/24418/25137/m15626/201607/483931.shtml">
		<div class="a-count">
			<p>名词解释</p>
			<div class="a-img">
				<img src="components/newhand/guidesForNew/img/g_1.png"/>
			</div>	
		</div>
	</a></li>
	<li><a href="http://pvp.qq.com/webplat/info/news_version3/15592/24418/25137/m15626/201607/487109.shtml">
		<div class="a-count">
			<p>不知道用什么英雄</p>
			<div class="a-img">
				<img src="components/newhand/guidesForNew/img/g_2.png"/>
			</div>	
		</div>
	</a></li>
	<li><a href="http://pvp.qq.com/webplat/info/news_version3/15592/24418/25137/m15626/201607/487086.shtml">
		<div class="a-count">
			<p>如何提升生存率</p>
			<div class="a-img">
				<img src="components/newhand/guidesForNew/img/g_3.png"/>
			</div>	
		</div>
	</a></li>
	<li><a href="http://pvp.qq.com/webplat/info/news_version3/15592/24418/25137/m15626/201607/487089.shtml">
		<div class="a-count">
			<p>经常输都不知道输在哪</p>
			<div class="a-img">
				<img src="components/newhand/guidesForNew/img/g_4.png"/>
			</div>	
		</div>
	</a></li>
</ul>
<div class="f-g-tittle">
	<p>重点来了，团战我该干什么</p>
</div>
<ul class="f-g-ulist1">
	<li><a href=""><div class="aDiv"><span>坦 克</span><span>TANK</span></div></a></li>
	<li><a href=""><div class="aDiv"><span>刺 客</span><span>ASSASSIN</span></div></a></li>
	<li><a href=""><div class="aDiv"><span>辅 助</span>SUPPORT<span></span></div></a></li>
	<li><a href=""><div class="aDiv"><span>战 士</span><span>warrior</span></div></a></li>
	<li><a href=""><div class="aDiv"><span>射 手</span><span>Archer</span></div></a></li>
	<li><a href=""><div class="aDiv"><span>法 师</span><span>MAGE</span></div></a></li>
</ul>